<div id="<%= dom_id guest %>">
  <p>
    <strong>Title:</strong>
    <%= guest.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= guest.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= guest.email %>
  </p>

  <p>
    <strong>Address 1:</strong>
    <%= guest.address_1 %>
  </p>

  <p>
    <strong>Address 2:</strong>
    <%= guest.address_2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= guest.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= guest.state %>
  </p>

  <p>
    <strong>Post code:</strong>
    <%= guest.post_code %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= guest.table_id %>
  </p>

</div>
