<div class="page-header">
  <%= link_to guests_path, class: 'btn btn-default' do %>
    All Guests
  <% end %>
  <%= link_to edit_guest_path(@guest), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show guest</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @guest.title %></dd>
  <dt>Name:</dt>
  <dd><%= @guest.name %></dd>
  <dt>Email:</dt>
  <dd><%= @guest.email %></dd>
  <dt>Address 1:</dt>
  <dd><%= @guest.address_1 %></dd>
  <dt>Address 2:</dt>
  <dd><%= @guest.address_2 %></dd>
  <dt>City:</dt>
  <dd><%= @guest.city %></dd>
  <dt>State:</dt>
  <dd><%= @guest.state %></dd>
  <dt>Post code:</dt>
  <dd><%= @guest.post_code %></dd>
  <dt>Table:</dt>
  <dd><%= @guest.table %></dd>
</dl>
