<div class="row">
  <div class="col-sm-6">
    <h1>Tables</h1>
  </div>
  <% if user_signed_in? %>
    <div class="col-sm-6 text-end">
      <%= link_to new_table_path, class: 'btn btn-primary' do %>
        Add New Table
      <% end %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Table</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>

    <tbody>
    <% @tables.each do |table| %>
      <%= content_tag :tr, id: dom_id(table), class: dom_class(table) do %>
        <td><%= table.number %></td>
        <td><%= link_to table.name, table %></td>
        <td><%= table.description %></td>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
